
.main-page {
    background-color: #f4fffe;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .main-page .div {
    background-color: var(--wight);
    overflow: hidden;
    width: 1440px;
    height: 2674px;
    position: relative;
  }
  
  .main-page .overlap {
    position: absolute;
    width: 1700px;
    height: 768px;
    top: 59px;
    left: 94px;
  }
  
  .main-page .overlap-group {
    position: absolute;
    width: 1700px;
    height: 768px;
    top: 0;
    left: 0;
  }
  
  .main-page .ellipse {
    position: absolute;
    width: 1078px;
    height: 755px;
    top: 13px;
    left: 594px;
    background-color: #22d5e1;
    border-radius: 539.02px / 377.3px;
  }
  
  .main-page .sliders {
    position: absolute;
    width: 1026px;
    height: 760px;
    top: 0;
    left: 674px;
  }
  
  .main-page .img {
    position: absolute;
    width: 672px;
    height: 760px;
    top: 0;
    left: 0;
  }
  
  .main-page .battons {
    display: flex;
    align-items: center;
    gap: 30px;
    position: absolute;
    top: 510px;
    left: 0;
  }
  
  .main-page .button-login {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 289px;
    height: 50px;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 16px 107px;
    position: relative;
    background-color: var(--wight);
    border-radius: 5px;
    border: 1px solid;
    border-color: #0e31e8;
  }

  .button-login:hover {
    background-color: #8592e2;
  }
  
  .main-page .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -6.50px;
    margin-bottom: -4.50px;
    font-family: "Anta-Regular", Helvetica;
    font-weight: 400;
    color: var(--blue);
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .main-page .button-register {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 289px;
    height: 50px;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 10px 20px;
    position: relative;
    background-color: #919ee7;
    border-radius: 5px;
    border: 1px solid;
  }

  .button-register:hover {
    background-color: #7f8ece;
  }
  
  .main-page .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -6.50px;
    margin-bottom: -4.50px;
    margin-left: -10.00px;
    margin-right: -10.00px;
    font-family: "Anta", Helvetica;
    font-weight: 400;
    color: var(--wight);
    font-size: 25px;
    letter-spacing: var(--button-text-letter-spacing);
    line-height: var(--button-text-line-height);
    font-style: var(--button-text-font-style);
  }
  
  .main-page .text-wrapper-3 {
    width: 396px;
    top: 220px;
    background: linear-gradient(
      180deg,
      rgb(14.54, 49.45, 232.69) 0%,
      rgb(34.73, 213.82, 225.25) 57.98%
    );
    -webkit-background-clip: text !important;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    font-family: var(--title-font-family);
    font-weight: var(--title-font-weight);
    color: transparent;
    font-size: 48px;
    letter-spacing: var(--title-letter-spacing);
    line-height: var(--title-line-height);
    position: absolute;
    left: 0;
    font-style: var(--title-font-style);
  }
  
  .main-page .looking-for-a {
    position: absolute;
    width: 503px;
    top: 322px;
    left: 0;
    font-family: var(--headline-font-family);
    font-weight: var(--headline-font-weight);
    color: var(--blek);
    font-size: var(--headline-font-size);
    letter-spacing: var(--headline-letter-spacing);
    line-height: var(--headline-line-height);
    font-style: var(--headline-font-style);
  }
  
  .main-page .overlap-2 {
    position: absolute;
    width: 1440px;
    height: 778px;
    top: 1550px;
    left: 0;
  }
  
  .main-page .rectangle {
    position: absolute;
    width: 1102px;
    height: 341px;
    top: 184px;
    left: 169px;
    background-color: var(--wight);
    border-radius: 5px;
    border: 1px solid;
    border-color: transparent;
    border-image: linear-gradient(
        to bottom,
        rgb(14.54, 49.45, 232.69),
        rgb(34.73, 213.82, 225.25) 57.98%
      )
      1;
  }
  
  .main-page .parking-rates {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 778px;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 48px 94px;
    top: 0;
    backdrop-filter: blur(4px) brightness(100%);
    -webkit-backdrop-filter: blur(4px) brightness(100%);
    background-image: url(./img/Parking\ Rates.png);
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    left: 0;
  }
  
  .main-page .text-parking-wrapper {
    display: flex;
    flex-direction: column;
    width: 1252px;
    height: 590px;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 32px 64px;
    position: relative;
    background-color: #f4fffeb2;
    border-radius: 5px;
    border: 1px solid;
    border-color: transparent;
    box-shadow: 0px 4px 50px #00000040;
    border-image: linear-gradient(
        to bottom,
        rgb(14.54, 49.45, 232.69),
        rgb(34.73, 213.82, 225.25) 57.98%
      )
      1;
  }
  
  .main-page .text-parking {
    display: flex;
    flex-direction: column;
    width: 1103px;
    height: 464px;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    position: relative;
  }
  
  .main-page .text-wrapper-4 {
    position: relative;
    align-self: stretch;
    margin-top: -33.00px;
    background: linear-gradient(
      180deg,
      rgb(14.54, 49.45, 232.69) 47.3%,
      rgb(34.73, 213.82, 225.25) 57.98%
    );
    -webkit-background-clip: text !important;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /*text-fill-color: transparent;*/
    font-family: var(--title-font-family);
    font-weight: var(--title-font-weight);
    color: transparent;
    font-size: var(--title-font-size);
    text-align: center;
    letter-spacing: var(--title-letter-spacing);
    line-height: var(--title-line-height);
    font-style: var(--title-font-style);
  }
  
  .main-page .parking {
    display: flex;
    flex-direction: column;
    width: 1103px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    flex: 0 0 auto;
    margin-bottom: -32.00px;
    background-color: var(--wight);
    border-radius: 5px;
    border: 1px solid;
    border-color: transparent;
    border-image: linear-gradient(
        to bottom,
        rgb(14.54, 49.45, 232.69),
        rgb(34.73, 213.82, 225.25) 57.98%
      )
      1;
  }
  
  .main-page .frame {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .main-page .frame-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .main-page .frame-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .main-page .transport-table {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: var(--turquoise);
  }
  
  .main-page .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--subtitel-font-family);
    font-weight: var(--subtitel-font-weight);
    color: var(--blek);
    font-size: var(--subtitel-font-size);
    letter-spacing: var(--subtitel-letter-spacing);
    line-height: var(--subtitel-line-height);
    white-space: nowrap;
    font-style: var(--subtitel-font-style);
  }
  
  .main-page .frame-4 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
    margin-right: -5.25px;
  }
  
  .main-page .transport-table-2 {
    width: 271px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .main-page .frame-5 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
    margin-right: -4.25px;
  }
  
  .main-page .element-USD-wrapper {
    display: flex;
    width: 270px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .main-page .element-USD {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Anta-Regular", Helvetica;
    font-weight: 400;
    color: var(--blek);
    font-size: 20px;
    line-height: 20px;
  }
  
  .main-page .span {
    letter-spacing: 0;
  }
  
  .main-page .text-wrapper-6 {
    font-size: var(--button-text-font-size);
    letter-spacing: var(--button-text-letter-spacing);
    font-family: var(--button-text-font-family);
    font-style: var(--button-text-font-style);
    font-weight: var(--button-text-font-weight);
    line-height: var(--button-text-line-height);
  }
  
  .main-page .text-wrapper-7 {
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    letter-spacing: var(--body-letter-spacing);
    line-height: var(--body-line-height);
    font-style: var(--body-font-style);
    font-weight: var(--body-font-weight);
  }
  
  .main-page .div-wrapper {
    display: flex;
    width: 271px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .main-page .frame-6 {
    display: inline-flex;
    align-items: center;
    gap: 32px;
    position: absolute;
    top: 1037px;
    left: 94px;
  }
  
  .main-page .card {
    display: flex;
    flex-direction: column;
    width: 289px;
    align-items: center;
    justify-content: center;
    gap: 32px;
    position: relative;
  }
  
  .main-page .ellipse-2 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 320px;
    margin-right: -25.00px;
  }
  
  .main-page .motorcycle-USD {
    position: relative;
    width: fit-content;
    font-family: "Blinker-SemiBold", Helvetica;
    font-weight: 400;
    color: var(--blek);
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: 36px;
  }
  
  .main-page .text-wrapper-8 {
    color: #0a081b;
    font-weight: 600;
    line-height: 24px;
  }
  
  .main-page .text-wrapper-9 {
    font-weight: 600;
    color: #0a081b;
    font-size: 20px;
    line-height: 46px;
  }
  
  .main-page .text-wrapper-10 {
    font-family: "Blinker-Regular", Helvetica;
    color: #0a081b;
    font-size: 16px;
    line-height: 46px;
  }
  
  .main-page .ellipse-3 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 320px;
    margin-right: -25.00px;
    object-fit: cover;
  }
  
  .main-page .p {
    position: relative;
    width: fit-content;
    font-family: "Blinker-SemiBold", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: 36px;
  }
  
  .main-page .text-wrapper-11 {
    color: #000000;
    font-weight: 600;
    line-height: 24px;
  }
  
  .main-page .text-wrapper-12 {
    position: absolute;
    top: 914px;
    left: 488px;
    background: var(--Gradient, linear-gradient(90deg, #0F31E9 0%, #23D6E1 57.98%));
    -webkit-background-clip: text !important;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Blinker;
    font-weight: 700;
    color: transparent;
    font-size: 48px;
    letter-spacing: var(--title-letter-spacing);
    line-height: normal;
    font-style: normal;
  }
  
  .main-page .frame-7 {
    display: flex;
    flex-direction: column;
    width: 1252px;
    align-items: flex-start;
    gap: 32px;
    position: absolute;
    top: 2422px;
    left: 94px;
  }
  
  .main-page .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: transparent;
  }
  
  .main-page .frame-8 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .main-page .frame-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .main-page .frame-9 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 174px;
  }
  
  .main-page .contact-us {
    display: flex;
    flex-direction: column;
    width: 433px;
    align-items: flex-start;
    gap: 24px;
    position: absolute;
    top: 0;
    left: 499px;
  }
  
  .main-page .frame-10 {
    display: flex;
    flex-direction: column;
    width: 433px;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .main-page .text-wrapper-13 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--headline-font-family);
    font-weight: var(--headline-font-weight);
    color: var(--blek);
    font-size: var(--headline-font-size);
    letter-spacing: var(--headline-letter-spacing);
    line-height: var(--headline-line-height);
    font-style: var(--headline-font-style);
  }
  
  .main-page .text-wrapper-14 {
    position: relative;
    width: 433.04px;
    margin-right: -0.04px;
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    color: #000000;
    font-size: var(--body-font-size);
    letter-spacing: var(--body-letter-spacing);
    line-height: var(--body-line-height);
    font-style: var(--body-font-style);
  }
  
  .main-page .button-login-2 {
    position: relative;
    width: 396px;
    height: 50px;
  }
  
  .main-page .nav {
    display: flex;
    flex-direction: column;
    width: 84px;
    height: 161px;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    top: 0;
    left: 1092px;
  }
  
  .main-page .register {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 46px;
  }
  
  .main-page .register-2 {
    position: absolute;
    top: -1px;
    left: 0;
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    color: var(--blek);
    font-size: var(--body-font-size);
    letter-spacing: var(--body-letter-spacing);
    line-height: var(--body-line-height);
    white-space: nowrap;
    font-style: var(--body-font-style);
  }
  
  .main-page .register-wrapper {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 46px;
    margin-bottom: -9.00px;
  }
  
  .main-page .frame-11 {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: flex-start;
    gap: 24px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .main-page .logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .main-page .logo {
    display: flex;
    align-items: center;
    gap: 2px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .main-page .vector {
    position: relative;
    width: 40px;
    height: 40px;
  }
  
  .main-page .text-wrapper-15 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Anta-Regular", Helvetica;
    font-weight: 400;
    color: #0e1c69;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .main-page .social-networks {
    display: flex;
    flex-direction: column;
    width: 206px;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .main-page .div-2 {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .main-page .img-2 {
    position: relative;
    width: 20px;
    height: 20px;
  }
  
  .main-page .follow-us-on {
    position: relative;
    width: 165px;
    height: 10px;
  }
  
  .main-page .text-wrapper-16 {
    position: absolute;
    top: -1px;
    left: 0;
    font-family: var(--main-text-font-family);
    font-weight: var(--main-text-font-weight);
    color: var(--blek);
    font-size: var(--main-text-font-size);
    letter-spacing: var(--main-text-letter-spacing);
    line-height: var(--main-text-line-height);
    white-space: nowrap;
    font-style: var(--main-text-font-style);
  }
  
  .main-page .frame-12 {
    position: absolute;
    width: 1252px;
    height: 1px;
    top: 227px;
    left: 0;
  }
  
  .main-page .frame-13 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .main-page .line {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 1px;
    margin-top: -1.00px;
    object-fit: cover;
  }
  
  .main-page .text-wrapper-17 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Blinker-Regular", Helvetica;
    font-weight: 400;
    color: var(--system-colors-miscellaneous-tab-unselected);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 46px;
  }
  
  .main-page .header-default {
    position:relative;
    width: 1440px;
    height: 60;
    top: 30;
    left: 0;
  }
  